<title>Code Wars</title>
<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="stylesheet" href="/lib/codemirror.css">
<script src="/lib/codemirror.js"></script>
<script src="/mode/javascript/javascript.js"></script>