body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

#editor-continer {
  margin: 2rem auto;
  width: 80%;
  height: 80%;
}

form {
  border: 1px solid black;
}

.editor-submit-button {
  display: block;
  margin: 1rem auto;
  width: 5rem;
  height: 2rem;
}

.error-message {
  white-space: pre;
}

.success-redirection-link {
  display: block;
  margin-top: 2rem;
  font-size: large;
}
